/* * {
  border: solid 1px red;
  }*/

  @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');


  body {
    background: url('airport.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #313f5a;
    font-family: 'Raleway', sans-serif;
    padding-top: 14vh;
    word-spacing: 5px;
    height: calc(60vh);
  }

  ::selection {
    background: #939292;
  }

  .well-row {
    margin-top: calc(10vh);
  }

  .well {
    border: solid 1px #5f5f5f;
    background-color: #fff;
    box-shadow: 2px 5px 20px black;
    border-radius: 0%;
    opacity: .93;
  }

  .logo-row {
    margin-top: 7vh;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .logo {
    display: block;
    max-height: 150px;
    border-radius: 50%;
  }

  .intro-row {
    margin-bottom: 20px;
  }

  .intro-row > * {
    padding: 10px;
  }

  .intro {
    margin-left: 2vh;
    margin-right: 2vh;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(147, 146, 146, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(147, 146, 146, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(147, 146, 146, 0.75), rgba(0, 0, 0, 0));
  }

  .port-list {
    margin-top: 10px;
    margin-bottom: 50px;
    word-spacing: 10px;
  }

  .port-list > li {
    margin: 0px;
    padding: 0px;
    height: 54px;
    width: 54px;
    border: 1px solid #939292;
    border-radius: 50%;
  }

  .icons {
    text-shadow: 1px 0 0 #939292,
                 0 -1px 0 #939292,
                 0 1px 0 #939292,
                -1px 0 0 #939292;
    color: #fff;
    font-size: 42px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .icons:visited {
    color: #5f5f5f;
  }

  .port-list > li > a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
  }

  .port-list > li:hover {
    border-color: #313f5a;
  }

  .port-list > li:hover i {
    border-color: #313f5a;
    text-shadow: 1px 0 0 #313f5a,
                 0 -1px 0 #313f5a,
                 0 1px 0 #313f5a,
                -1px 0 0 #313f5a;
  }

  .body-font {
    font-family: 'Raleway', sans-serif;
  }

  #copyright > * {
    color: #939292;
  }
